In [1]:
import numpy as np
import pandas as pd
import xarray as xr
import numpy as np
import datetime as dt
import glob
from matplotlib import pyplot as plt
%matplotlib inline
from scipy.io import loadmat

In [2]:
#generate list of 1min Revelle .mat data files in the Level-1 Folder (provided by Jim Edson)
data_folder = '../Data/Level_1/Dynamo/Revelle_FluxData/'
files = glob.glob(data_folder + '/*1minute*.mat')

#iterate over list of files
for filepath in files: 
    #import file as a dictionary of numpy arrays using the scipy loadmat function
    Revelle_Leg = loadmat(filepath)
    #drop the metadata keys from the dictionary so that all the remaining arrays are the same size
    del Revelle_Leg['__header__']
    del Revelle_Leg['__version__']
    del Revelle_Leg['__globals__']
    
    break
Revelle_Leg

{'SOG': array([[5.95609602, 5.96714568, 5.96780633, ..., 7.41694243, 7.394837  ,
         7.39802866]]),
 'yday': array([[246.        , 246.00069444, 246.00138889, ..., 265.49861111,
         265.49930556, 265.5       ]]),
 'dSolar': array([[-1509.48083335, -1505.78083335, -1502.08083335, ...,
            -7.3       ,    -6.39274395,    -5.32739384]]),
 'Tsea': array([[26.36403963, 26.3698348 , 26.37533933, ..., 28.4346256 ,
         28.43638005, 28.43881319]]),
 'Lat': array([[-12.27491184, -12.27498114, -12.2750166 , ...,   6.79361247,
           6.79590136,   6.79818502]]),
 'Lon': array([[106.22016121, 106.22016121, 106.21855559, ...,  88.2172137 ,
          88.22051282,  88.22382534]]),
 'COG': array([[268.96188364, 268.96380618, 271.23356846, ...,  55.56457588,
          55.38003466,  55.62614114]]),
 'wdir': array([[105.42484367, 108.48989358, 111.25745311, ..., 216.28346092,
         215.2872918 , 215.17292612]]),
 'stress': array([[0.10272487, 0.08739224, 0.08750629, ..., 0.08605648, 0.10644863,
         0.11381792]]),
 'shf': array([[5.21623358, 4.66284073, 4.14311618, ..., 5.94523545, 6.86504729,
         7.46812808]]),
 'lhf': array([[154.87200821, 138.51744049, 134.84508952, ..., 119.01658626,
         131.70429039, 137.56825814]]),
 'Qsea': array([[21.02673622, 21.0338617 , 21.04019225, ..., 23.90566757,
         23.90799656, 23.91081684]]),
 'interped': array([[0, 0, 0, ..., 0, 0, 0]], dtype=uint8),
 'Heading': array([[262.92339731, 264.99187053, 268.16112104, ...,  55.93491314,
          55.75123155,  56.39307142]]),
 'TseaTSG': array([[26.35646878, 26.35946628, 26.362465  , ..., 28.46801   ,
         28.46897123, 28.4724617 ]]),
 'SalTSG': array([[33.93270316, 33.93719942, 33.93901167, ..., 34.109745  ,
         34.11343286, 34.11822606]]),
 'wdirR': array([[103.19803873, 106.12885339, 108.90432958, ..., 216.48376847,
         215.50821424, 215.38668795]]),
 'cspd': array([[0.28553299, 0.28553299, 0.28553299, ..., 0.12503597, 0.13572992,
         0.13572992]]),
 'cdir': array([[197.00205593, 197.00205593, 197.00205593, ..., 205.11970745,
         203.02074031, 203.02074031]]),
 'U10': array([[7.33243461, 6.93023594, 6.95051335, ..., 7.04726969, 7.61145563,
         7.79106709]]),
 'Pair10': array([[1012.28412496, 1012.29172358, 1012.31989714, ..., 1006.87160394,
         1006.87756119, 1006.90291107]]),
 'SST': array([[26.14020458, 26.14791667, 26.15961883, ..., 28.24699836,
         28.25431622, 28.25599491]]),
 'Ur10': array([[7.34584086, 6.92870411, 6.93517415, ..., 6.92464199, 7.47888005,
         7.65843191]]),
 'T02': array([[25.71787762, 25.74656326, 25.80062673, ..., 27.73410511,
         27.70722953, 27.67656859]]),
 'Q02': array([[15.83369462, 16.09709047, 16.23333815, ..., 19.57614832,
         19.48489514, 19.40680764]]),
 'RH02': array([[76.91167954, 78.04644612, 78.4509633 , ..., 83.81173469,
         83.55719995, 83.37757004]]),
 'T10': array([[25.59101304, 25.6222488 , 25.68109843, ..., 27.59618331,
         27.56489058, 27.53046159]]),
 'Q10': array([[15.23470731, 15.52898299, 15.67509283, ..., 19.079978  ,
         18.97441209, 18.887999  ]]),
 'RH10': array([[74.58808547, 75.87514815, 76.31750692, ..., 82.37311383,
         82.07309299, 81.87031969]]),
 'rhf': array([[1.18581277, 1.10925069, 1.07191   , ..., 0.        , 0.        ,
         0.        ]]),
 'SSQ': array([[20.74958319, 20.75900128, 20.77293885, ..., 23.64567691,
         23.65569378, 23.65744335]]),
 'IRdn': array([[-382.50619099, -384.26314375, -385.89653153, ..., -416.27535977,
         -416.74517017, -416.15744687]]),
 'IRup': array([[452.82489811, 452.92309764, 453.04113296, ..., 466.39655749,
         466.45473516, 466.44721648]]),
 'Solardn': array([[-214.26425895, -212.89539967, -218.23568333, ...,   -5.9692    ,
           -5.04882402,   -4.13371357]]),
 'Solarup': array([[41.68108855, 40.77664827, 41.78449511, ...,  0.417844  ,
          0.35341768,  0.28935995]]),
 'E': array([[0.22863863, 0.20449542, 0.19907493, ..., 0.17605932, 0.19482837,
         0.20350334]]),
 'P': array([[0.25714286, 0.25714286, 0.25714286, ..., 0.        , 0.        ,
         0.        ]]),
 'Precip': array([[4.28571429e-03, 8.57142857e-03, 1.28571429e-02, ...,
         3.52583557e+01, 3.52583557e+01, 3.52583557e+01]]),
 'Evap': array([[3.81064378e-03, 7.21890071e-03, 1.05368163e-02, ...,
         7.32156334e+01, 7.32188805e+01, 7.32222722e+01]])}

In [3]:
files

['../Data/Level_1/Dynamo/Revelle_FluxData\\Revelle1minuteLeg1_r2b.mat',
 '../Data/Level_1/Dynamo/Revelle_FluxData\\Revelle1minuteLeg2_r2b.mat',
 '../Data/Level_1/Dynamo/Revelle_FluxData\\Revelle1minuteLeg3_r2b.mat',
 '../Data/Level_1/Dynamo/Revelle_FluxData\\Revelle1minuteLeg4_r2b.mat']

In [1]:
import numpy as np
import pandas as pd
import glob
import xarray as xr
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
xr.open_dataset('../Data/Level_1/Falkor16/KT15_LabCalibrations/KT15_LabCalibration_7409_2016-08-24.cdf')

<xarray.Dataset>
Dimensions:  (index: 7)
Coordinates:
  * index    (index) int64 10 15 20 25 30 35 40
Data variables:
    Mean     (index) float64 ...
    Std      (index) float64 ...
Attributes:
    serial_number:     7409
    calibration_date:  2016-08-24
    slope:             0.9368753071765249
    yint:              1.7456966633785704

In [6]:
output_path = '../Data/Level_1/Dynamo/KT15_LabCalibrations/'

cal_7409_2007 = xr.Dataset(attrs={'serial_number':7409,
                                  'calibration_date':'2007',
                                  'slope':0.94989,
                                  'yint': 1.4897})
cal_7409_2007.to_netcdf(output_path+'/KT15_LabCalibration_7409_2007-00-00.cdf')

cal_7409_2014 = xr.Dataset(attrs={'serial_number':7409,
                                  'calibration_date':'2014',
                                  'slope':0.9726,
                                  'yint': 0.65781})
cal_7409_2014.to_netcdf(output_path+'/KT15_LabCalibration_7409_2014-00-00.cdf')

cal_7417_2007 = xr.Dataset(attrs={'serial_number':7417,
                                  'calibration_date':'2007',
                                  'slope':0.90621,
                                  'yint': 2.6117})
cal_7417_2007.to_netcdf(output_path+'/KT15_LabCalibration_7417_2007-00-00.cdf')

cal_7417_2014 = xr.Dataset(attrs={'serial_number':7417,
                                  'calibration_date':'2014',
                                  'slope':0.9509,
                                  'yint': 1.28615})
cal_7417_2014.to_netcdf(output_path+'/KT15_LabCalibration_7417_2014-00-00.cdf')

In [2]:
#function inputs:
data_folder = '..\Data\Level_0\Falkor19\KT15'
output_path = '..\Data\Level_1\Falkor19\KT15'
sea_serial = 7417
sky_serial = 7409
experiment = 'Falkor19'

In [3]:
files = glob.glob(data_folder + '\*.txt')
files[1]

'..\\Data\\Level_0\\Falkor19\\KT15\\2019_Falkor_326_065848.txt'

In [6]:
#loop through filenames and import to pandas dataframes
import time 

start = time.time()
df = (pd.read_csv(f, delimiter='\s+', skiprows=1, header=None,                                                  #treat whitespace as the delimeter, ignore the header line
                  usecols=[0,1,2,3,4,5], names=['Date','Time','SeaRef','SeaTemp','SkyRef','SkyTemp'],           #use the first 6 columns, and name them as specified
                  parse_dates={'DateTime':[0,1]}, index_col=0,                                                  #parse the first two columns as a single DateTime, and make it the index column
                  na_values=['AMB','TIMEOUT','ERROR'],                                                          #list of other things the parser might encounter in these files, that should be treated like NaNs
                  dtype={'SeaRef':np.float64, 'SeaTemp':np.float64, 'SkyRef':np.float64, 'SkyTemp':np.float64}, #explicitly specify that data columns must be 64-bit floating point numbers
                  error_bad_lines=False, warn_bad_lines=True).dropna(axis='index',how='any',inplace=True)       #drop any bad lines or rows with NaN in them
      for f in glob.glob(data_folder + '\*.txt'))                                                               #iterate over all the text files found in the data_folder
end = time.time()
print(end-start)

0.0009961128234863281

In [7]:
start = time.time()
kt = df.concat()
end = time.time()
print(end-start)

AttributeError: 'generator' object has no attribute 'concat'

In [8]:
from tqdm import tqdm

### Doing it with a classic for loop
takes about 7 mins

In [10]:
from tqdm import tqdm
files = glob.glob(data_folder + '\*.txt')
li = []
start = time.time()
for filepath in tqdm(files):
    df = pd.read_csv(filepath,                                                                                     #filename to read in
                     delimiter='\s+', skiprows=1, header=None,                                                     #treat whitespace as the delimeter, ignore the header line
                     usecols=[0,1,2,3,4,5], names=['Date','Time','SeaRef','SeaTemp','SkyRef','SkyTemp'],           #use the first 6 columns, and name them as specified
                     parse_dates={'DateTime':[0,1]}, index_col=0,                                                  #parse the first two columns as a single DateTime, and make it the index column
                     na_values=['AMB','TIMEOUT','ERROR'],                                                                            #list of other things the parser might encounter in these files, that should be treated like NaNs
                     dtype={'SeaRef':np.float64, 'SeaTemp':np.float64, 'SkyRef':np.float64, 'SkyTemp':np.float64}, #explicitly specify that data columns must be 64-bit floating point numbers
                     error_bad_lines=False, warn_bad_lines=True)                                                   #if there is a bad line in the data file, drop it from the file and show a warning, but continue parsing
    df.dropna(axis='index',how='any',inplace=True)                                                                 #drop any rows that have a NaN value in them
    
    li.append(df)

end = time.time()
print(end-start)

  0%|                                                                                           | 0/22 [00:00<?, ?it/s]
  5%|███▊                                                                               | 1/22 [00:15<05:18, 15.18s/it]
  9%|███████▌                                                                           | 2/22 [00:27<04:48, 14.43s/it]
 14%|███████████▎                                                                       | 3/22 [00:42<04:34, 14.47s/it]
 18%|███████████████                                                                    | 4/22 [00:49<03:40, 12.24s/it]
 23%|██████████████████▊                                                                | 5/22 [00:55<02:57, 10.42s/it]
 27%|██████████████████████▋                                                            | 6/22 [01:10<03:05, 11.61s/it]
 32%|██████████████████████████▍                                                        | 7/22 [01:25<03:11, 12.75s/it]
 36%|██████████████████████████████▏                                                    | 8/22 [01:40<03:06, 13.32s/it]
 41%|█████████████████████████████████▉                                                 | 9/22 [01:52<02:50, 13.09s/it]
 45%|█████████████████████████████████████▎                                            | 10/22 [02:06<02:40, 13.36s/it]
 50%|█████████████████████████████████████████                                         | 11/22 [02:20<02:26, 13.36s/it]
 55%|████████████████████████████████████████████▋                                     | 12/22 [02:34<02:16, 13.61s/it]
 59%|████████████████████████████████████████████████▍                                 | 13/22 [03:03<02:43, 18.22s/it]
 64%|████████████████████████████████████████████████████▏                             | 14/22 [03:17<02:15, 16.94s/it]
 68%|███████████████████████████████████████████████████████▉                          | 15/22 [04:41<04:21, 37.30s/it]
 73%|███████████████████████████████████████████████████████████▋                      | 16/22 [04:55<03:01, 30.26s/it]
 77%|███████████████████████████████████████████████████████████████▎                  | 17/22 [05:24<02:29, 29.81s/it]
 82%|███████████████████████████████████████████████████████████████████               | 18/22 [05:38<01:39, 24.91s/it]
 86%|██████████████████████████████████████████████████████████████████████▊           | 19/22 [05:52<01:05, 21.86s/it]
 91%|██████████████████████████████████████████████████████████████████████████▌       | 20/22 [06:06<00:39, 19.53s/it]
 95%|██████████████████████████████████████████████████████████████████████████████▎   | 21/22 [06:21<00:18, 18.19s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [06:43<00:00, 19.29s/it]

403.7713885307312

In [13]:
start = time.time()
kt = pd.concat(li, axis=0)
end = time.time()
print(end-start)

0.10170221328735352

In [15]:
start = time.time()
kt.to_pickle(output_path+f'\{experiment}_KT15_{sea_serial}_{sky_serial}.p')
end = time.time()
print(end-start)

0.3690192699432373

In [16]:
import xarray
ds = xarray.Dataset.from_dataframe(kt)
ds.attrs['experiment'] = experiment
ds.attrs['sea_serial'] = sea_serial
ds.attrs['sky_serial'] = sky_serial
ds

<xarray.Dataset>
Dimensions:   (DateTime: 2972671)
Coordinates:
  * DateTime  (DateTime) datetime64[ns] 2019-11-21T04:34:36.153000 ... 2019-12-18T19:56:40.848000
Data variables:
    SeaRef    (DateTime) float64 31.51 31.51 31.51 31.51 ... 35.36 35.36 35.36
    SeaTemp   (DateTime) float64 27.94 27.98 27.9 27.92 ... 28.4 28.3 28.26
    SkyRef    (DateTime) float64 31.69 31.69 31.69 31.69 ... 35.2 35.2 35.19
    SkyTemp   (DateTime) float64 22.4 22.38 22.31 22.33 ... -2.39 -2.39 -2.5
Attributes:
    experiment:  Falkor19
    sea_serial:  7417
    sky_serial:  7409

In [18]:
ds.to_netcdf(output_path+f'/{experiment}_KT15_{sea_serial}_{sky_serial}.cdf')

In [ ]:
ds = xarray.open_dataset('test.cdf')
ds